/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4259)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [Carreras]    Script Date: 13/11/2020 10:01:32 ******/
CREATE DATABASE [Carreras]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Carreras', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Carreras.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Carreras_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\Carreras_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Carreras].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Carreras]
GO
USE [Carreras]
GO
/****** Object:  Table [dbo].[Corredores]    Script Date: 13/11/2020 10:01:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Corredores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](100) NULL,
 CONSTRAINT [PK_Corredores] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiempos]    Script Date: 13/11/2020 10:01:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiempos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCorredor] [int] NULL,
	[tiempo] [numeric](6, 2) NULL,
	[anio] [int] NULL,
 CONSTRAINT [PK_Tiempos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Corredores] ON 

INSERT [dbo].[Corredores] ([id], [nombre]) VALUES (1, N'Juan')
INSERT [dbo].[Corredores] ([id], [nombre]) VALUES (2, N'Pedro')
INSERT [dbo].[Corredores] ([id], [nombre]) VALUES (3, N'Lucas')
SET IDENTITY_INSERT [dbo].[Corredores] OFF
SET IDENTITY_INSERT [dbo].[Tiempos] ON 

INSERT [dbo].[Tiempos] ([id], [idCorredor], [tiempo], [anio]) VALUES (1, 1, CAST(1.00 AS Numeric(6, 2)), 1)
INSERT [dbo].[Tiempos] ([id], [idCorredor], [tiempo], [anio]) VALUES (2, 3, CAST(2.00 AS Numeric(6, 2)), 2)
INSERT [dbo].[Tiempos] ([id], [idCorredor], [tiempo], [anio]) VALUES (3, 1, CAST(13.00 AS Numeric(6, 2)), 1)
SET IDENTITY_INSERT [dbo].[Tiempos] OFF
ALTER TABLE [dbo].[Tiempos]  WITH CHECK ADD  CONSTRAINT [FK_Tiempos_Corredores] FOREIGN KEY([idCorredor])
REFERENCES [dbo].[Corredores] ([id])
GO
ALTER TABLE [dbo].[Tiempos] CHECK CONSTRAINT [FK_Tiempos_Corredores]
GO
USE [master]
GO
